<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Quoting Dojo</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="container center">
		<h1>WElCOME TO QUOTING DOJO</h1>
		<form action="/create" method="POST">
			<p>
				<label for="name">Your Name: </label>
				<input type="text" name="name">
			</p>
			<p>
				<label for="quote">Your Quote: </label>
				<input type="text" name="quote">
			</p>
			<input class="button" type="submit" value="Add my quote!">
			<button class="button" href="/quotes">Skip to quotes!</button>
		</form>
	</div>
</body>
</html>
